<div class="card">
  <div class="image">
    <img src="https://cdn.dribbble.com/users/2264632/screenshots/6708631/final.gif" alt="Movie Image" />
  </div>
  <div class="name text">
    <p>Title: <span class="value">{{movie.name}}</span></p>
  </div>
  <div class="language text">
    <p>Language: <span class="value">{{movie.language}}</span></p>
  </div>
  <div class="price text">
    <p>Price: <span class="value">{{movie.price | currency}}</span></p>
  </div>
  <div class="category text">
    <p>Category: <span class="value">{{movie.category}}</span></p>
  </div>
  <div class="actors text">
    <p>Actors: <span class="value">{{movie.actors}}</span></p>
  </div>
  <div class="btn-success">Book Now</div>
</div>
